@import url('https://fonts.googleapis.com/css2?family-Chakra+Petch:w ght@400:700&display=swap');    

:root{ 
    --cor-de-fundo: #1e1e1e;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94,0.5)
    --texto-fundo: rgba(58,55,94,0.5)
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'chakra petch', sans-serif;
}
